@model asm1.Entities.DonDatHangChuaDktk

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>DonDatHang</h4>
<hr />
<div class="">
    <div class="">
        <form class="row" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaDh" />
            <div class="col">
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Sdt" class="control-label"></label>
                    <input asp-for="Sdt" class="form-control" />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="MaDt" class="control-label"></label>
                    <select asp-for="MaDt" class="form-control" asp-items="ViewBag.MaDt"></select>
                    <span asp-validation-for="MaDt" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="SoLuong" class="control-label"></label>
                    <input asp-for="SoLuong" class="form-control" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="NgayDat" class="control-label"></label>
                    <input asp-for="NgayDat" class="form-control" />
                    <span asp-validation-for="NgayDat" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Trang thai</label>
                    <select asp-for="TrangThai" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="TrangThai" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Tên điện thoại</label>
                    <input class="form-control" value="@ViewBag.tenspdadat (@ViewBag.ramdadat - @ViewBag.dungluongdadat)" readonly />
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Giá</label>
                    <input class="form-control" value="@ViewBag.giadadat" readonly />
                </div>

                <div class="form-group mt-3">
                    <label class="control-label">Tổng cộng: </label>
                    <span class="fw-bold text-danger">@ViewBag.thanhtien VNĐ</span>
                </div>
                <div class="row mt-3">
                    <div class="offset-sm-4 col-sm-8">
                        <img src="/images/Dienthoai/@ViewBag.hinhdadat" width="200px" />
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-light" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

