@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="mt-3 text-center">
        <h2>
            <a class="text-decoration-none text-dark" href="#">
                <i class="bi bi-phone"></i>
                <span>ĐIỆN THOẠI</span>
            </a>
        </h2>
    </div>
    <!-- điện thoại -->
    <div id="phoneCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < ViewBag.Dienthoaiclient.Count; i += 4)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="row fw-bold">
                        @for (int j = i; j < i + 4 && j < ViewBag.Dienthoaiclient.Count; j++)
                        {
                            var item = ViewBag.Dienthoaiclient[j];
                            <div class="proc mt-3 col-md-6 col-lg-3">
                                <div class="card" style="height: 400px;">
                                    <div class="card-body d-flex justify-content-center align-items-center flex-column" style="max-height: 350px;">
                                        <div class="flex-grow-1 d-flex justify-content-center align-items-center" style="height: 95%;">
                                            <a asp-controller="DienThoaiClient" asp-action="Detail" asp-route-id="@item.MaDt" style="height: 100%;">
                                                <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                                                    <img class="img-proc img-thumbnail img-fluid" src="~/images/DienThoai/@item.HinhAnh" alt="" style="max-height: 95%;">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="mt-1 d-flex justify-content-center col-2">
                                            <img class="rounded-circle border border-dark m-1 p-1" src="~/images/DienThoai/@item.HinhAnh" alt="" height="30px" width="30px">
                                            <img class="rounded-circle border border-dark m-1 p-1" src="~/images/DienThoai/@item.HinhAnh" alt="" height="30px" width="30px">
                                            <img class="rounded-circle border border-dark m-1 p-1" src="~/images/DienThoai/@item.HinhAnh" alt="" height="30px" width="30px">
                                            <img class="rounded-circle border border-dark m-1 p-1" src="~/images/DienThoai/@item.HinhAnh" alt="" height="30px" width="30px">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a asp-controller="DienThoaiClient" asp-action="Detail" asp-route-id="@item.MaDt" class="text-decoration-none">
                                            <span>@item.TenDt ( @item.Ram - @item.DungLuong )</span>
                                        </a>
                                        <div>
                                            <span class="text-danger fw-bold">@item.Gia.ToString("#,###") VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#phoneCarousel" data-bs-slide="prev" style="width: 30px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#phoneCarousel" data-bs-slide="next" style="width: 30px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="buttonxtc mt-3 text-center">
        <a class="btnx btn btn-light border-dark" asp-controller="DienThoaiClient" asp-action="Index">
            <span class="btn-content">Xem tất cả</span>
            <span><i class="bi bi-arrow-right-square-fill"></i></span>
        </a>
    </div>

    @* <div class="mt-3 text-center">
        <h2>
            <a class="text-decoration-none text-dark" href="#">
                <i class="bi bi-laptop"></i>
                <span>MÁY TÍNH</span>
            </a>
        </h2>
    </div> *@
    <!-- máy tính -->
</div>
