@model IEnumerable<asm1.Entities.NguoiDung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Khách hàng</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaiKhoanNd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhauNd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoanNd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhauNd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.MaNd">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaNd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
